.title-div {
  height: 100vh;
  overflow: auto;
  text-align: center;
  background-image: linear-gradient(rgba(74, 17, 141, 0) 10%, #061649 100%);
}

.content-div {
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(#061649 50%, #073977);
  padding: 0.1px;
}

.subtitle {
  text-align: center;
  font-weight: normal;
  text-shadow: 3px 3px 2px black;
}

.home-arrow {
  width: 40px;
  height: 50px;
  animation: arrow-hover infinite 1.5s linear;
  position: absolute;
  bottom: 40px;
}
.waypoint-line {
  border-top: 1px dashed red;
}
.home-arrow:hover {
  background-color: rgba(78,16,144,0.4);
  box-shadow: 0px 0px 64px 0px rgba(78,16,144,1);
}

@keyframes arrow-hover {
  0% { transform: translateY(0px) scale(1.0); }
  50% { transform: translateY(20px) scale(1.05); }
  100% { transform: translateY(0px) scale(1.0); }
}

.not-visible {
  opacity: 0;
}
