.dungeons-background {
  background-image: radial-gradient(farthest-corner at 0px 0px, rgba(74, 17, 141, 1) 0 , rgba(6,22,73,1) 40% );
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.spacer-div {
  height: 50px;
}
