.dungeons-background {
  background-image: radial-gradient(farthest-corner at 0px 0px, rgba(74, 17, 141, 1) 0 , rgba(6,22,73,1) 40% );
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.spacer-div {
  height: 50px;
}

@media only screen and (max-width: 460px) {
  .spacer-div {
    height: 150px;
  }
}
