body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #061649;
  font-family: 'Nunito', sans-serif;
  height: 100%;
}

html {
  height: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

#root {
  height: 100%;
}

h1 {
  font-size: calc(50px + 2vw);
  color: white;
  margin: 120px 0 40px 0;
  font-weight: normal;
  text-shadow: 4px 4px 6px black;
}

h2 {
  text-align: left;
  color: white;
  font-size: 30px;
}

h3 {
  color: white;
  font-size: 40px;
  font-weight: normal;
  margin: 20px 0;
}

p {
  text-align: left;
  color: #64a2ef;
  font-size: 21px;
  font-weight: bold;
  line-height: 40px;
}

ul {
  text-align: left;
  color: #64a2ef;
  font-size: 21px;
  font-weight: bold;
  line-height: 40px;
}

hr {
  border: 1px solid #0B74F5;
  box-shadow: 0 0 20px 1px #4A118D;
}
